<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/unnamed.jpg"
        alt=""
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <!-- lanjut video 22.54 -->
      <h1 class="display-4">Nasril Nufa</h1>
      <p class="lead">Pelajar | Programmer</p>
    </div>
  </div>
</div>
